.project-card {
  &__root {
    max-width: 100%;
    margin: 10px;
  }

  &__media {
    height: 0;
    padding-top: 50.25%;

    &-wrapper {
      margin: 10px;
    }
  }

  .popover {
    &__text {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }
}

a {
    text-decoration: none;
    color: blue;
  }

  a:hover {
    text-decoration: none;
  }