#about-me {
  text-transform: uppercase;
  color: white;
  height: 80vh;

  .content {
    display: flex;
    justify-content: space-evenly;
    background: rgb(2 0 36);
    background: linear-gradient(180deg, rgb(2 0 36 / 100%) 0%, rgb(106 111 255 / 100%), rgb(31 106 115 / 100%) 100%);
    place-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;

    > div:nth-of-type(2) {
      font-family: RobotoCondensed, sans-serif;
      max-width: 50%;

      &:first-of-type {
        padding: 0 30px;
      }

      &:last-of-type {
        text-align: center;
      }
    }
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    align-items: center;

    .content {
      flex-direction: column;

      > div:nth-of-type(2) {
        max-width: 100%;
        padding: 0 10px;
      }
    }
  }
}
