.homepage {
  position: relative;

  #homepage-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: RobotoCondensed, sans-serif;
    font-weight: bolder;
    height: calc(100vh - 76px);
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    div {
      margin: 10px;
    }

    .hello {
      font-size: 48px;
      margin: 0 0 35px;
    }

    .my-name-is {
      font-size: 32px;
    }

    .i-am-a-engineer {
      font-size: 32px;
    }

    .subheader {
      color: #878787;
      font-family: RobotoCondensed, sans-serif;
      font-size: 24px;
      font-weight: lighter;
      max-width: 600px;
      text-align: center;
      text-transform: uppercase;
    }

    .view-projects-button {
      margin-top: 40px;
      text-align: center;

      button {
        color: white;
        background-color: #cf9090;
        border: 1px solid #cf9090;
        border-radius: 50px;
        font-size: 17px;
        padding: 15px 20px;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    @media screen and (max-width: 992px) {
      padding: 0;
      justify-content: center;

      .hello {
        font-size: 32px;
      }

      .subheader {
        font-size: 18px;
      }

      .my-name-is {
        font-size: 20px;
      }

      .i-am-a-engineer {
        font-size: 20px;
      }
    }
  }

  #about-me {
    text-transform: uppercase;
    color: white;
    height: 80vh;

    .content {
      display: flex;
      justify-content: space-evenly;
      background-color: #1f6a73;
      place-items: center;
      text-align: center;
      height: 100%;
      flex-direction: column;

      > div:nth-of-type(2) {
        font-family: RobotoCondensed, sans-serif;
        max-width: 35%;

        &:first-of-type {
          padding: 0 30px;
        }

        &:last-of-type {
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 992px) {
      align-items: center;

      .content {
        flex-direction: column;

        > div:nth-of-type(2) {
          max-width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
