#homepage-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: RobotoCondensed, sans-serif;
  font-weight: bolder;
  height: calc(100vh - 76px);
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  div:not(:nth-of-type(-n+3)) {
    margin: 10px;
  }

  .background {
    animation: slide 7s ease-in-out infinite alternate;
    background-image: linear-gradient(-40deg, #6a6fff 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .background-2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
  }

  .background-3 {
    animation-duration: 9s;
  }

  .caret-icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    animation: popup 1.5s ease 0s infinite normal none;
  }

  .hello {
    font-size: 48px;
    margin: 0 0 35px;
  }

  .name-wrapper {
    display: flex;
    font-size: 32px;
    white-space: pre;

    :last-child {
      color: #fff;
    }
  }

  .i-am-a-engineer {
    font-size: 32px;
  }

  .subheader {
    color: #5a5a5a;
    font-family: RobotoCondensed, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    max-width: 700px;
    text-align: center;
    text-transform: uppercase;
  }

  .view-projects-button {
    margin-top: 40px;
    text-align: center;

    button {
      color: white;
      background-color: #6a6fff;
      border-radius: 50px;
      font-size: 17px;
      padding: 15px 20px;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0;
    justify-content: center;

    .hello {
      font-size: 32px;
    }

    .subheader {
      font-size: 18px;
    }

    .name-wrapper {
      font-size: 20px;
    }

    .i-am-a-engineer {
      font-size: 20px;
    }
  }
}

@keyframes popup {
  49.5% {
    transform: translate(0, -10px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}
