#homepage-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: RobotoCondensed, sans-serif;
  font-weight: bolder;
  height: calc(100vh - 76px);
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  div {
    margin: 10px;
  }

  .caret-icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: white;
    animation: popup 1.5s ease 0s infinite normal none;
  }

  .hello {
    font-size: 48px;
    margin: 0 0 35px;
  }

  .my-name-is {
    font-size: 32px;
  }

  .i-am-a-engineer {
    font-size: 32px;
  }

  .background-video {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  .subheader {
    color: #5a5a5a;
    font-family: RobotoCondensed, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase;
  }

  .view-projects-button {
    margin-top: 40px;
    text-align: center;

    button {
      color: white;
      background-color: #6a6fff;
      border-radius: 50px;
      font-size: 17px;
      padding: 15px 20px;

      &:active {
        transform: scale(0.9);
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 0;
    justify-content: center;

    .hello {
      font-size: 32px;
    }

    .subheader {
      font-size: 18px;
    }

    .my-name-is {
      font-size: 20px;
    }

    .i-am-a-engineer {
      font-size: 20px;
    }
  }
}

@keyframes popup {
  49.5%{
    transform: translate(0, -10px);
  }
}
