@import "about-me", "contact-me", "homepage-header", "projects";

.homepage {
  position: relative;

  h2 {
    font-size: 32px;
  }

  &__content {
    background: rgb(2 0 36);
    background: linear-gradient(180deg, rgb(2 0 36 / 100%) 0%, rgb(106 111 255 / 100%), rgb(31 106 115 / 100%) 100%);
  }
}
