#projects {
  background-color: #206a76;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 70vh;
  padding: 40px 15px;

  .header > h2 {
    font-family: RobotoCondensed, sans-serif;
    margin: 0;
    text-align: center;
  }

  .subheader > h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    width: 80vw;
    margin: 25px auto;
    text-align: center;
  }

  div[class="project-card animate-start"]:nth-of-type(odd) {
    animation: slide-right 1000ms ease-in-out;

    @media screen and (max-width: 992px) {
      animation: roll-down 1000ms ease-in-out;
    }
  }

  div[class="project-card animate-start"]:nth-of-type(even) {
    animation: slide-left 1000ms ease-in-out;

    @media screen and (max-width: 992px) {
      animation: roll-down 1000ms ease-in-out;
    }
  }

  .project-card {
    border-radius: 5px;
    box-shadow: 0 0 32px 32px #076d83;
    margin: 25px 15px;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    text-align: center;

    &__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width: 100%;
    }

    &__data-wrapper {
      height: 100%;
    }

    &__title {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      left: 50%;
      position: absolute;
      top: 25%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &__buttons {
      display: none;
      flex-direction: row;
      justify-content: center;
      position: relative;
      top: 60%;
      visibility: hidden;

      button {
        background-color: #6a6fff;
        border-radius: 50px;
        color: white;
        margin: 10px;
        padding: 10px;
        transform: scale(1.4);

        &[disabled] {
          background-color: #838181;
          color: lightgrey;

          &:hover {
            cursor: not-allowed;
          }
        }

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    &__image-wrapper {
      height: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 5px;

      img {
        height: 100%;
        vertical-align: middle;
        width: 100%;
      }
    }

    &:hover {
      img {
        animation: zoom-in 250ms linear forwards;
      }

      .project-card {
        &__buttons {
          animation: roll-down 500ms ease-in-out forwards;
          display: flex;
          justify-content: space-evenly;
          visibility: initial;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .project-card {
      width: 100%;
      margin: 25px 0;

      &__title {
        font-size: 24px;
      }

      &__buttons {
        button {
          transform: scale(1.1);

          &:hover {
            transform: none;
          }

          &:active {
            transform: scale(1);
          }
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
      }

      &__image-wrapper {
        min-height: 180px;
      }
    }
  }
}
