@import "src/animations";

.contact {
  display: flex;
  flex-direction: column;
  margin: 25px;

  &__header {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin: 10px 0;

      textarea {
        min-height: 30vh;

        + .message-content-counter {
          text-align: right;
          opacity: 0.5;
        }

        + .low-count {
          color: red;
          opacity: 1;
        }
      }

      input,
      textarea {
        border-radius: 4px;
        border: 2px solid #8e8e8e;
        font-family: RobotoCondensed, sans-serif;
        font-size: 16px;
        height: 30px;
        resize: none;

        &:active {
          border-color: #6a6fff;
        }
      }

      label {
        font-size: 13px;
      }
    }

    button[type="submit"] {
      align-items: center;
      background-color: #6a6fff;
      border-radius: 4px;
      color: white;
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 15px 0;
      min-width: 220px;

      .sent-success {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-left: 4px;
        }
      }

      &:not(:disabled, [class="success"]):active {
        transform: scale(0.9);
      }

      &:disabled {
        background-color: #838181;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    .copy-of-message {
      align-items: center;
      display: flex;
      font-size: 16px;
      justify-content: right;

      input[type=checkbox] {
        display: none;

        + label {
          align-items: center;
          cursor: pointer;
          display: flex;
          position: relative;

          &::after {
            content: "\2714";
            font: {
              family: fontawesome;
              size: 22px;
            }

            align-items: center;
            color: #6a6fff;
            display: flex;
            height: 100%;
            left: 2px;
            opacity: 0;
            position: absolute;
            top: 0;
            transform-origin: center center;

            @include transition-mix;
          }

          &::before {
            border-radius: 3px;
            border: 2px solid black;
            box-sizing: border-box;
            content: "";
            display: inline-block;
            height: 16px;
            margin-right: 10px;
            width: 16px;

            @include transition-mix($delay: 0.2s);
          }
        }

        &:not(:checked) {
          + label {
            &::after {
              transform: scale(0);
            }
          }
        }

        &:checked {
          + label {
            &::before {
              transform: scale(0);
              opacity: 0;

              @include transition-mix;
            }

            &::after {
              transform: scale(1);
              opacity: 1;

              @include transition-mix($delay: 0.2s, $timing: cubic-bezier(0.57, 1.9, 0, 1.52));
            }
          }
        }
      }

      @media screen and (max-width: 992px) {
        justify-content: center;
      }
    }

    .inline-error {
      display: flex;
      align-items: center;
      color: #d60000;
      margin-top: 8px;

      div {
        margin-left: 4px;
      }
    }

    @media screen and (min-width: 993px) {
      margin: 0 auto;
      width: 50vw;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 50px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: white;

      &:visited {
        color: white;
      }
    }

    .card {
      background-color: #6a6fff;
      border-radius: 4px;
      border: 5px solid #000;
      font-size: 18px;
      height: 30vh;
      padding: 0 15px;
      width: 30vh;

      &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
      }
    }

    @media screen and (max-width: 992px) {
      align-items: center;
      flex-direction: column-reverse;

      .card {
        margin: 15px;
        padding: 0;
        width: 100%;
      }
    }
  }
}
