.contact {
  margin: 15px;

  &__header {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 300px;
    width: 50vw;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin: 10px 0;

      textarea {
        min-height: 30vh;
      }

      input,
      textarea {
        border-radius: 4px;
        border: 2px solid #8e8e8e;
        font-family: RobotoCondensed, sans-serif;
        font-size: 16px;
        height: 30px;

        &:active {
          border-color: #6a6fff;
        }
      }

      label {
        font-size: 13px;
      }
    }

    button[type="submit"] {
      align-items: center;
      background-color: #6a6fff;
      border-radius: 4px;
      color: white;
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 15px 0;
      min-width: 220px;

      .sent-success {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-left: 4px;
        }
      }

      &:not(:disabled, [class="success"]):active {
        transform: scale(0.9);
      }

      &:disabled {
        background-color: #838181;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    .copy-of-message {
      align-items: center;
      display: flex;
      font-size: 13px;
      justify-content: right;
    }
  }
}

.inline-error {
  display: flex;
  align-items: center;
  color: #d60000;
  margin-top: 8px;

  div {
    margin-left: 4px;
  }
}
