.about-tayden {
  display: flex;
  flex-direction: column;
  margin: 15px;

  &__header {
    font-size: 40px;
    margin: 35px 0;
    text-align: center;
  }

  &__content {
    text-align: center;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 12px;
    margin: 24px auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    max-width: 1000px;
    min-width: 250px;
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;

    img {
      max-width: 250px;
      border: 1px solid lightgrey;
      border-radius: 8px;
      width: 25%;
      min-width: 125px;
    }
  }
}
