@import "./animations";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

button {
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}
